<div class="modal js-modal" id="callback-success">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Спасибо!
        </h3>
        <img src="img/heart.svg" alt="" class="modal__icon">
        <div class="modal__text">
            Ваша завка принята в обработку, Мы свяжемся с вами в ближайшее время
        </div>
    </div>
</div>