{{#extend "layout"}}
    {{#content "main"}}

        <section class="intro">
            <div class="container">
                <div class="intro__row">
                    <div class="intro__text-content">
                        <h1 class="intro__heading">
                            Стажировка<br>
                            в летай
                        </h1>
                        <div class="intro__text">
                            Первый шаг в большую карьеру. Получи реальный опыт на оплачиваемой стажировке в сфере
                            телекоммуникаций.
                        </div>
                        <a href="#" class="intro__link">
                            <img src="img/toggle.svg" alt="" class="intro__link-image">
                            ВКЛЮЧИть<br> СВОЮ КАРЬЕРУ
                        </a>
                    </div>
                    <div class="intro__image-wrapper">
                        <img src="img/intro.jpg" alt="" class="intro__image">
                    </div>
                </div>
            </div>
        </section>
        <section class="we-offer" id="advantages">
            <div class="container">
                <h2 class="we-offer__heading">
                    Что мы предлагаем
                </h2>
                <ul class="we-offer__list">
                    <li class="we-offer__list-item">
                        <div class="we-offer__card">
                            <h3 class="we-offer__card-title">
                                Старт карьеры
                            </h3>
                            <div class="we-offer__card-text">
                                Для студентов, выпускников и начинающих специалистов старше 18 лет.
                            </div>
                        </div>
                    </li>
                    <li class="we-offer__list-item">
                        <div class="we-offer__card">
                            <h3 class="we-offer__card-title">
                                Опыт
                            </h3>
                            <div class="we-offer__card-text">
                                Только актуальные кейсы и много практики.
                            </div>
                        </div>
                    </li>
                    <li class="we-offer__list-item">
                        <div class="we-offer__card">
                            <h3 class="we-offer__card-title">
                                Атмосфера
                            </h3>
                            <div class="we-offer__card-text">
                                Неформальное общение, командные игры и квизы.
                            </div>
                        </div>
                    </li>
                    <li class="we-offer__list-item">
                        <div class="we-offer__card">
                            <h3 class="we-offer__card-title">
                                Условия
                            </h3>
                            <div class="we-offer__card-text">
                                Официальное оформление, белая<br> заработная плата.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="subjects" id="about">
            <div class="container">
                <h2 class="subjects__heading">
                    Направления стажировки
                </h2>
                <ul class="subjects__list">
                    <li class="subjects__list-item">
                        <div class="subjects__accordion js-accordion">
                            <button class="subjects__accordion-btn js-accordion-btn">
                                <span class="subjects__accordion-btn-content">
                                    <span class="subjects__accordion-btn-title">
                                        маркетинг
                                    </span>
                                    <span class="subjects__accordion-btn-text">
                                        Ответственный за стратегию продвижения продуктов и услуг.
                                    </span>
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                            <div class="subjects__accordion-content js-accordion-content">
                                <div class="subjects__accordion-content-inner">
                                    <div class="subjects__accordion-conditions">
                                        <h3 class="subjects__accordion-conditions-title">
                                            Условия
                                        </h3>
                                        <div class="subjects__accordion-conditions-text">
                                            4 часа в день. 4 дня в неделю hard skills,<br>1 день в неделю - soft<br>
                                            Количество часов - 88 час./мес.<br>
                                            Заработная плата - 7 000 руб.
                                        </div>
                                    </div>
                                    <div class="subjects__accordion-text-content">
                                        <h4>
                                            Март
                                        </h4>
                                        <ul>
                                            <li>
                                                Маркетинг в сфере телекоммуникаций.
                                            </li>
                                            <li>
                                                Изучение брендбука компании.
                                            </li>
                                            <li>
                                                Анализ рынка и конкурентов.
                                            </li>
                                            <li>
                                                Медиапланирование.
                                            </li>
                                        </ul>
                                        <h4>
                                            Апрель
                                        </h4>
                                        <ul>
                                            <li>
                                                Создание креативных концепций.
                                            </li>
                                            <li>
                                                Разработка рекламных кампаний.
                                            </li>
                                            <li>
                                                Разработка концепций промо-мероприятий.
                                            </li>
                                            <li>
                                                Разработка дизайн-макетов.
                                            </li>
                                        </ul>
                                        <h4>
                                            Май
                                        </h4>
                                        <ul>
                                            <li>
                                                Разработка аудиороликов.
                                            </li>
                                            <li>
                                                Разработка видеороликов.
                                            </li>
                                            <li>
                                                Анализ эффективности маркетинговых мероприятий.
                                            </li>
                                            <li>
                                                Работа с полиграфической продукцией.
                                            </li>
                                            <li>
                                                Работа с сувенирной продукцией.
                                            </li>
                                            <li>
                                                Маркетинговые исследования.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="subjects__list-item">
                        <div class="subjects__accordion js-accordion">
                            <button class="subjects__accordion-btn js-accordion-btn">
                                <span class="subjects__accordion-btn-content">
                                    <span class="subjects__accordion-btn-title">
                                        дизайн
                                    </span>
                                    <span class="subjects__accordion-btn-text">
                                        Ответственный за стратегию продвижения продуктов и услуг.
                                    </span>
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </button>
                            <div class="subjects__accordion-content js-accordion-content">
                                <div class="subjects__accordion-content-inner">
                                    <div class="subjects__accordion-conditions">
                                        <h3 class="subjects__accordion-conditions-title">
                                            Условия
                                        </h3>
                                        <div class="subjects__accordion-conditions-text">
                                            4 часа в день. 4 дня в неделю hard skills,<br>1 день в неделю - soft<br>
                                            Количество часов - 88 час./мес.<br>
                                            Заработная плата - 7 000 руб.
                                        </div>
                                    </div>
                                    <div class="subjects__accordion-text-content">
                                        <h4>
                                            Март
                                        </h4>
                                        <ul>
                                            <li>
                                                Дизайн в сфере телекоммуникаций.
                                            </li>
                                            <li>
                                                Изучение брендбука компании.
                                            </li>
                                            <li>
                                                Конкурентное окружение.
                                            </li>
                                            <li>
                                                Основы дизайна в компании.
                                            </li>
                                            <li>
                                                Презентация текущих и архивных макетов, история визуалов.
                                            </li>
                                        </ul>
                                        <h4>
                                            Апрель
                                        </h4>
                                        <ul>
                                            <li>
                                                Построение концепций макетов к рекламным кампаниям: ТЗ, идеи, ресурсы,
                                                тексты.
                                            </li>
                                            <li>
                                                Разработка рекламной продукции к акциям.
                                            </li>
                                            <li>
                                                Изучение основ работы с видео: монтаж, анимация, программы,
                                                инструментарии, правила.
                                            </li>
                                        </ul>
                                        <h4>
                                            Май
                                        </h4>
                                        <ul>
                                            <li>
                                                Работа с макетами структурных подразделений: виды макетов, сложность,
                                                коммуникация со службами.
                                            </li>
                                            <li>
                                                Дизайн в B2B и B2C сегментах.
                                            </li>
                                            <li>
                                                Принципы работы по техническому заданию.
                                            </li>
                                            <li>
                                                Самостоятельная работа стажера под руководством наставника, решение
                                                текущих задач отдела.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="how-to-get">
            <div class="container">
                <h2 class="how-to-get__heading">
                    Как попасть на стажировку?
                </h2>
                <ol class="how-to-get__list">
                    <li class="how-to-get__list-item">
                        <div class="how-to-get__card">
                            <div class="how-to-get__card-content">
                                <h3 class="how-to-get__card-title">
                                    подать заявку
                                </h3>
                                <div class="how-to-get__card-text">
                                    Выберите направление и подайте заявку по форме ниже.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to-get__list-item">
                        <div class="how-to-get__card">
                            <div class="how-to-get__card-content">
                                <h3 class="how-to-get__card-title">
                                    тестовое задание
                                </h3>
                                <div class="how-to-get__card-text">
                                    Выполните тестовое задание по выбранному направлению.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="how-to-get__list-item">
                        <div class="how-to-get__card">
                            <div class="how-to-get__card-content">
                                <h3 class="how-to-get__card-title">
                                    пройдите интервью
                                </h3>
                                <div class="how-to-get__card-text">
                                    Координатор пригласит всех, кто успешно справился с отборочными испытаниями. После
                                    интервью — свяжется с вами и сообщит результаты.
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section class="contacts-us" id="contact">
            <div class="container">
                <div class="contacts-us__content">
                    <h2 class="contact-us__heading">
                        Подать заявку
                    </h2>
                    <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                        <div class="contact-us__form-fields">
                            <div class="contact-us__form-field">
                                <input type="text" name="name" class="contact-us__form-input"
                                    placeholder="Фамилия имя Отчество" required="">
                            </div>
                            <div class="contact-us__form-field" id="city-container">
                                <select name="city" class="js-custom-select" required=""
                                    data-parsley-errors-container="#city-container">
                                    <option value="" placeholder="">
                                        Ваш город
                                    </option>
                                    <option value="Казань">Казань</option>
                                </select>
                            </div>
                            <div class="contact-us__form-field" id="subject-container">
                                <select name="subject" class="js-custom-select" required=""
                                    data-parsley-errors-container="#subject-container">
                                    <option value="" placeholder="">
                                        Направление
                                    </option>
                                    <option value="Казань">Направление 1</option>
                                </select>
                            </div>
                            <div class="contact-us__form-field">
                                <input type="email" name="email" class="contact-us__form-input"
                                    placeholder="Элетронная почта" required="">
                            </div>
                        </div>
                        <div class="contact-us__form-bottom-row">
                            <div class="contact-us__form-checkbox-wrapper" id="policy-container">
                                <label class="contact-us__form-checkbox">
                                    <input type="checkbox" name="policy" class="contact-us__form-checkbox-input"
                                        value="1" required="" checked=""
                                        data-parsley-errors-container="#policy-container">
                                    <span class="contact-us__form-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="contact-us__form-checkbox-text">
                                        Согласие на обработку персональных данных
                                    </span>
                                </label>
                            </div>
                            <button class="contact-us__form-submit" type="submit">
                                отправить заявку
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}